- content_for :title, '2010 JTF Tae Kwon Do Tournament'
- content_for :head do 
  %style{:type => 'text/css'}
    :sass
      #tournament
        color: #000
      #header
        font:
          size: 3em
          weight: bold
        padding-top: 20px
      #sub_header
        font-size: 2em
        margin-bottom: 20px
      #header, #sub_header
        line-height: 1em
        text-align: center
      #info
        font-size: 1.2em
        td.label
          text-align: right
          vertical-align: top
          font-weight: bold
          padding-right: 10px
        td
          padding-bottom: 10px
        
#tournament
  #header
    %div
      2010 JTF
    %div
      National Invitational
    %div
      Traditional Tae Kwon Do Tournament
  #sub_header
    == (hosted by #{link_to "Asheville Sun Soo Tae Kwon Do", 'http://ashevilletkd.com/', :target => :blank})


  #info
    %table
      %tr
        %td.label
          Date:
        %td
          Saturday, May 8th 2010
      %tr
        %td.label
          Location:
        %td
          == #{link_to 'Justice Center', 'http://www2.unca.edu/campusmap/justcgym.htm', :target => :blank}, UNC-Asheville Campus (Asheville, NC)
      %tr
        %td.label
          Doors Open:
        %td
          9:00am (Pre-registration check-in and at-door registration)
      %tr
        %td.label
          Opening Ceremonies: 
        %td
          11:00am (competition immediately follows)
      %tr
        %td.label
          General Admission (spectators):
        %td
          $5/single or $15/family
      %tr
        %td.label
          Competition Fee:
        %td
          = render 'tournament_fees'
      %tr
        %td.label
          Registration:
        %td
          == You can #{link_to 'register online', '/tournament-registration'}, or download, print, and mail/fax in your #{link_to 'registration form', '/2010_JTF_tournament_registration.pdf'}
      %tr
        %td.label
          Payment:
        %td
          If you have already registered, you can pay with a credit card:
          %br/
          %br/
          = render 'pre_registration_payment_button'
          %br/
          Or by mailing a check to:
          %br/
          %br/
          Asheville Sun Soo
          %br/
          1009 Patton Ave
          %br/
          Asheville, NC 28806
          .small_note
            (make checks payable to Asheville Sun Soo)
      %tr
        %td.label
          For More Information:
        %td
          Contact Master Tony Morris, 
          = link_to 'Asheville Sun Soo Tae Kwon Do', 'http://ashevilletkd.com/'
          %br/
          phone: 
          %strong
            828.505.4309
          or 
          %strong
            828.808.1536
          %br/
          email: 
          = mail_to 'tkdtonymorris@gmail.com'
          %br/
          %br/
          You can download a PDF of the tournament poster 
          == #{link_to 'here', '/JTF-tournament-poster.pdf'}.

 
